<html>

<head>
    <meta charset="utf-8">
    <title>POST_TITLE | Node.js Blog</title>
    
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .mt10{
            margin-top: 10px;
        }
	.container {
      max-width: 100%;
      background-color: rgb(255, 255, 255);
      font-family: sans-serif;
      margin: 0 auto;
      text-align: left;
      overflow: hidden;
      color: #666;
	  font-size:12px;
     

    }
	.table-bordered {
    border: 1px solid #ddd;
}


    </style>
</head>

<body>
    <div class="container">
		
		<div>
		<span style="float:left;"><h3 style="font-weight: 900">EX-KALA</h3></span>
		<center><span > <h3 style="font-weight: 900;">EK-KALA ENTERPRISE'S & Solar Power Solution</h3>
               <p >Branch Office: Bhavaninagar Tal-Indapur Dist- Pune Pin-413104</p> 
               <p >Mobile:- 7083484040</p></span>
			   </center>
		</div>
		
      
        <hr>
        <h3><center>TAX INVOICE CUM DELIVERY CHALLAN</center></h3>
	
  <table width="100%">
  <tr>
    <td width="50%">
    To,
            <p>
                Govind Arjun Narute
            </p>
            <p>Bhavaninagar Tal-Indapur Dist- Pune</p>
            <p>Mobile No- 9960029742</p>
            <p>Email- govindnarute@gmail.com</p>
    </td>
    <td width="50%">
     <table class="table table-bordered" border="1" align="right" >    
            <tr>
                <td>Invoice No:</td>
                <td>1  Date: 01/01/2018</td>
            </tr>
             <tr>
                <td>PO No.</td>
                <td></td>
            </tr>
             <tr>
                <td>Date</td>
                <td>01/01/2018</td>
            </tr>
             <tr>
                <td>Challan No:</td>
                <td></td>
            </tr>
        </table>
    </td>
  </tr>
 
</table>
	
	
		<table  width="100%" border="1">
    <thead>
      <tr>
        <th>Sr.No</th>
        <th>Discription</th>
        <th>GST</th>
		<th>Quantity</th>
		<th>Rate</th>
        <th>Discount</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody >
        <tr>
            <td>1</td>
            <td>PolyCub Make Solar water Heater <p>Capacity 250ltr</p></td>
            <td>0</td>
            <td>2</td>
            <td>29500</td>
            <td>0</td>
            <td>590000</td>
        </tr>
         <tr>
            <td>1</td>
            <td>PolyCub Make Solar water Heater <p>Capacity 250ltr</p></td>
            <td>0</td>
            <td>2</td>
            <td>29500</td>
            <td>0</td>
            <td>590000</td>
        </tr>
         <tr>
            <td>1</td>
            <td>PolyCub Make Solar water Heater <p>Capacity 250ltr</p></td>
            <td>0</td>
            <td>2</td>
            <td>29500</td>
            <td>0</td>
            <td>590000</td>
        </tr>
        
        
    </tbody>   
    <!--<tbody>
	<% for(var i=0;i<customers.length;i++){ %>
      <tr>
        <td><%=customers[i].firstName%> </td>
        <td><%=customers[i].lastName%></td>
        <td><%=customers[i].email%></td>
		<td><%=customers[i].mobile%></td>
		<td><%=customers[i].address%></td>
      </tr>
     <% } %>
    </tbody>-->
  </table>
 
  <table width="100%" class="mt10">
  <tr>
    <td width="50%">
   
          <h4>PAYMENT TERMS: Against proforma Invoice</h4>
        <p>Bank Name-:</p>
        <p><b>Rupees: FIFTY Nine Thousand Only</b></p>
    </td>
    <td width="50%">
      <table class="tabel table-bordered" width="100%" border="1">
            
         <tbody>
        <tr >
            <td width="180px" class="text-center">  <b class="text-center">Sub Total</b></td>
            <td width="180px" class="text-center"> <span class="pull-right">300000</span></td>
        </tr>
         <tr >
            <td width="180px"class="text-center" >  <b >GST 18%</b></td>
            <td width="180px"> <span class="pull-right">0</span></td>
        </tr>
         <tr >
            <td width="180px"class="text-center" >  <b >VAT 6%</b></td>
            <td width="180px"> <span class="pull-right">0</span></td>
        </tr>
        <tr >
            <td width="280px"class="text-center" >  <b >AGAINST FORM C-CST 2%</b></td>
            <td width="180px"> <span class="pull-right">0</span></td>
        </tr>
        <tr >
            <td width="180px"class="text-center" >  <b >GRAND TOTAL</b></td>
            <td width="180px"> <span class="pull-right">590000</span></td>
        </tr>
        </tbody>     
         </table>
    </td>
  </tr>
 
</table>
  <b>TERMS</b>
 <table width="100%" border="1">
  <tr>
    <td width="50%">
   <ul>
          <li>1.Subject to Pune Jurisdication Only</li>
          <li>3.Cheque return charges will be charge @ Rs. 500/- </li>
    </ul>  
    </td>
    <td width="50%">
      <li>2.Interest @ 24% p.a will be charged if the bill is not paid with in due date.</li>
          <li>4.Objections, if any, be made immediately from the Receipt of the bill. </li>
    </td>
  </tr>
 
</table>
  <table width="100%">
  <tr>
    <td width="60%">
   <p style="font-size: 12px;">
              I/We berely certify that my/our registration certificate under the Maharastra Value Added Act 2002 in Inforce on the date on which sale of the good specified in this tax invoice is made by me/us and that the transation of the covered by this 
              tax invoice has been effected by me/us and it shall be accounted for the turn over of sales vide filling of return & the due tax
              If payable on the sale has been paid or shall be paid.
          </p>
    </td>
    <td width="20%">
      <p style="margin-top: 70%;"> <b>Receiver Signature</b></p>
    </td>
    <td width="20%">
     <b>For EK-KALA ENTERPRISE'S & Solar Power Solution</b>
 <p style="margin-top: 20%;"> <b>Authorized Signature</b></p>
    </td>
  </tr>
 
</table>
 
  <div class="row">
      <center>This is a Computer Generated Invoice, no signature required.</center>
  </div>
   <div class="row">
      <center> <b>SYCON | SELEC | MULTISPAN | VERITEX | KRUSHI SSR | KUSAM-MECO | WACO | FLUKE | MEGGER | MECO |SIEMNS | SCHNEIDER AUTHORIZED DEALEAR AND STOCKIST </b></center>
  </div>
        
    </div>
</body>

</html>